.git
.github
.vscode
.anchor
node_modules
**/node_modules
target
!target/
target/*
!target/idl/
target/idl/*
!target/idl/lowkie_pool.json
build
artifacts
recovery
**/recovery
*.log
*.tgz
.DS_Store
.env
**/.env
packages
apps/test-frontend
frontend
tests